*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.body-welcome-page{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image:  url("../image/HCM-scaled.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}
.header-welcome-page div img{
    height: 100%;
    width: 100%;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.header-welcome-page div a h1{
    width: 15%;
    float: right;
    text-align: center;
    color: black;
    background-color: orange;
    font-size: 2rem;
    font-weight: bold; 
    margin-top: 3rem;
    margin-right: 10rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    animation-name: login;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.header-welcome-page div a h1:hover{
    background-color: white;
    cursor: pointer;
}
.content-welcome-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    padding: 3rem 4rem;
    border-radius: 5rem;
    animation-name: welcome;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.content-welcome-page h2{
    font-weight: bolder;
    text-align: center;
}

@keyframes welcome {
    0%   {left: 50%; top: 100%;}
    100% {left: 50%; top: 50%;}
}
@keyframes login {
    0% {margin-right: 0; margin-top: 3rem;}
    100% {margin-right: 10rem; top: 3rem}
}
@keyframes logo {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@keyframes drop{
    0%{opacity: 0;}
    70%{left: 50%; top: 55%;}
    100%{left: 50%; top: 50%; opacity: 1;}
}
